 #tz-masstop-header-wrapper:before{

} #tz-masstop-header-wrapper{

} #tz-masstop-header-wrapper a{

} #tz-masstop-header-wrapper a:hover{

} #tz-header-wrapper:before{

} #tz-header-wrapper{

} #tz-header-wrapper a{

} #tz-header-wrapper a:hover{

} #tz-breadcrumb-wrapper:before{

} #tz-breadcrumb-wrapper{
background-image: url(http://localhost/joomla!/v3.7/TzConstruction/joomla/images/breadcrumb.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: 50% 50%;
} #tz-breadcrumb-wrapper a{

} #tz-breadcrumb-wrapper a:hover{

} #tz-main-body-wrapper:before{

} #tz-main-body-wrapper{
background-color: rgba(246, 180, 74, 0) !important;padding: 30px 0 !important;
} #tz-main-body-wrapper a{

} #tz-main-body-wrapper a:hover{

} #tz-component-area-wrapper:before{

} #tz-component-area-wrapper{

} #tz-component-area-wrapper a{

} #tz-component-area-wrapper a:hover{

} #tz-footer-wrapper:before{

} #tz-footer-wrapper{

} #tz-footer-wrapper a{

} #tz-footer-wrapper a:hover{

}